.full-width {
  width: 100%;
  margin-bottom: 12px;
}

.modal-card {
  box-shadow: none !important;
  border: 1px solid #e0e0e0;
}

.status-cancelado {
  color: #ff0000 !important; /* Texto em vermelho */
  font-weight: bold;         /* Opcional: destaca o texto */
}
