<h2 mat-dialog-title>Consultar Informações</h2>

<mat-dialog-content>
  <div class="propriedades-secao">
    <h3 class="secao-titulo">Selecione uma Propriedade</h3>

    <mat-radio-group  class="cards-container">
      @for (propriedade of propriedades; track propriedade.codigoCar) {
        <div class="card-propriedade" >
          <label class="card-label">
            <mat-radio-button [value]="propriedade.codigoCar" color="primary" (click)="selecionar(propriedade)">
              <h4>{{ propriedade.nomePropriedade }}</h4>
            </mat-radio-button>
            <div class="card-conteudo">
              <div class="card-body-info">
                <p><strong>Código Tema:</strong> {{ propriedade.cdigoTema }}</p>
                <p><strong>Código CAR:</strong> {{ propriedade.codigoCar }}</p>
                <p><strong>Status: </strong>
                  <span class="status-badge"
                        [class.status-cancelado]="propriedade.status && propriedade.status.toLowerCase().includes('cancelado')"
                        [attr.data-status]="propriedade.status">
                      {{ propriedade.status }}
                    </span>
                </p>
              </div>
            </div>
          </label>
        </div>
      }
    </mat-radio-group>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="fechar()">Cancelar</button>
  <button mat-flat-button
          color="primary"
          [disabled]="!propriedadeSelecionada || carregando"
          (click)="consultar()">
    {{ carregando ? 'Consultando...' : 'Consultar' }}
  </button>
</mat-dialog-actions>
