/* acesso-negado.component.css */
.unauthorized-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  font-family: sans-serif;
}
