<div class="map-container-wrapper">
  <div id="contestacaoMap" class="mapa-view"></div>

  <!-- Legenda Informativa das Camadas -->
  <div class="map-legend">
    <h4>Legenda do Mapa</h4>
    <div class="legend-item">
      <span class="color-box" style="background-color: #3b82f6;"></span>
      <span>Área da Gleba</span>
    </div>
    <div class="legend-item">
      <span class="color-box" style="background-color: #ef4444;"></span>
      <span>Detecção / Conflito</span>
    </div>
    <div class="legend-item">
      <span class="color-box" style="background-color: #eab308;"></span>
      <span>Área Desenhada</span>
    </div>
  </div>

  <div class="map-instruction-banner">
    <mat-icon>mouse</mat-icon>
    <span>Desenhe o polígono de contestação sobre a área mapeada.</span>
  </div>
</div>
