<div class=" tela-fundo">
  <div class="container">
    <!-- Formulário de CadastroComponent -->
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>Cadastrar Território</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nome do Território</mat-label>
            <input matInput formControlName="nomeTerritorio" placeholder="Ex: Fazenda Boa Vista">
            @if (cadastroForm.get('nomeTerritorio')?.errors?.['required']) {
              <mat-error>O nome do território é obrigatório</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Código CAR</mat-label>
            <input matInput formControlName="codigoCar" placeholder="Ex: BR12345678901234">
            @if (cadastroForm.get('codigoCar')?.errors?.['required']) {
              <mat-error>O nome do território é obrigatório</mat-error>
            }
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="cadastroForm.invalid" class="btn-enviar">
            Cadastrar
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <!-- Painel de Expansão (Exibido apenas se houver dados no Signal) -->
    @if (territorioResultado(); as territorio) {
      <mat-expansion-panel class="result-expansion-panel" [expanded]="true">
        <!-- Cabeçalho do Painel -->
        <mat-expansion-panel-header class="panel-header">
          <mat-panel-title class="panel-title">
            <mat-icon color="primary">map</mat-icon>
            <span>{{ territorio.nomePropriedade }}</span>
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            CAR: {{ territorio.numeroCar }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Conteúdo Interno Ocultável -->
        <div class="panel-content">
          <div class="info-row">
            <strong>Hash da Transação:</strong>
            <span class="code-text-panel">{{ territorio.hashTransacao }}</span>
            <button
              mat-icon-button
              class="btn-copy-verde"
              [cdkCopyToClipboard]="territorio.hashTransacao"
              (cdkCopyToClipboardCopied)="avisoCopiado()"
              title="Copiar polígono">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>

          <div class="info-row align-button">
            <strong>Polígono (WKT):</strong>
            <button mat-stroked-button color="primary" (click)="visualizarPoligono(territorio)">
              <mat-icon>visibility</mat-icon>
              <span>Visualizar no Mapa</span>
            </button>
          </div>

          <div class="panel-footer-dates">
            <p><strong>Data de CadastroComponent:</strong> {{ territorio.dataCadastro | date:'dd/MM/yyyy HH:mm' }}</p>
            <p><strong>Última Atualização:</strong> {{ territorio.dataAtualizacao | date:'dd/MM/yyyy HH:mm' }}</p>
          </div>
        </div>
      </mat-expansion-panel>
    }
  </div>
</div>
