.table-container {
  margin: 20px;
  overflow-x: auto;
  border-radius: 8px;
}

table {
  width: 100%;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}

.badge.em-analise {
  background-color: #ffe0b2;
  color: #e65100;
}
